@import 'variables';

:host {
  background: $SI-white;
}

.item {
  display: flex;
  align-content: center;
  justify-content: center;
  padding: $space-md 0;
}
.error {
  color: $SI-white;
  background: $error;
}
