<mat-spinner *ngIf="isLoading" class="center"></mat-spinner>

<section class="no-results" *ngIf="expenses && expenses.length === 0 ">
  Nie było żadnych wydatków w teh grupie.
</section>

<ng-template [ngIf]="!isLoading">
  <div *ngFor="let expense of expenses">
    <ng-template #main>
      <span class="item-title">
        {{ expense?.description }}
      </span>
    </ng-template>
    <ng-template #right>
      <span class="item-counter">
          {{ expense?.price }}
        {{ expense?.currency }}
      </span>
    </ng-template>

    <split-it-list-item
        [routerLink]="['/expense', expense.description]"
        class="ma-lg pointer"
        [main]="main"
        [right]="right">
    </split-it-list-item>
  </div>
</ng-template>


