@import 'variables';

.top {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: $SI-white;
}

section {
    > div {
        padding: $space-lg;
    
        &.white-div {
            background: $SI-white; 
        }

        .block {
            * {
                display: inline-block
            }

            .right {
                right: 28px;
                position: absolute;
                cursor: pointer;
            }
        }

        .with-icon {
            position: relative;
            bottom: $space-sm;
            padding-left: $space-md;
        }

        .member {
            padding-left: $space-xl;
        }

        mat-selection-list {
            padding-bottom: $space-md;
        }
    }
}
