<section class="top">
    <header class="mb-lg header-text">{{ strings?.header }}</header>
</section>

<section>
    <div>
        <form>
            <mat-form-field>
                <mat-label>{{ strings?.groupNameLabel }}</mat-label>
                <input matInput
                name="name"
                [(ngModel)]="model.name">
            </mat-form-field>
        </form>
    </div>

    <div class="white-div">
        <members-list [members]="model?.members"></members-list>

        <div class="center-content">
            <add-member [members]="model?.members"></add-member>
        </div>
    </div>

    <div>
        <div class="block">
            <mat-icon>share</mat-icon>
            <div class="item-title with-icon">{{ strings?.shareLinkLabel }}</div>
        </div>

        <div class="center-content">
            <button mat-raised-button color="primary" (click)="addGroup()">
                {{ strings?.addGroupBtnLabel }}
            </button>
        </div>
    </div>


</section>


