/* Generate reusable classes */
$rules: ("margin", "padding");
$rulesName: ("m", "p");
$elements-spaces: ($space-xs, $space-sm, $space-md, $space-lg, $space-xl);
$elements-spaces-name: ("xs", "sm", "md", "lg", "xl");
$positions: ("top", "right", "bottom", "left");
$positionsNames: ("t", "r", "b", "l");

@for $i from 0 to length($rules) {
  $rule: unquote(nth($rules, $i + 1));
  $rName: unquote(nth($rulesName, $i + 1));

  .#{$rName}-none {
    #{$rule}: 0;
  }

  @for $x from 0 to length($elements-spaces) {
    $rSize: unquote(nth($elements-spaces-name, $x + 1));
    $eSpace: nth($elements-spaces, $x + 1);

    .#{$rName}a-#{$rSize} {
      #{$rule}: $eSpace;
    }

    .#{$rName}y-#{$rSize} {
      #{$rule}-top: $eSpace;
      #{$rule}-bottom: $eSpace;
    }

    .#{$rName}x-#{$rSize} {
      #{$rule}-left: $eSpace;
      #{$rule}-right: $eSpace;
    }

    .lh-#{$rSize} {
      line-height: $eSpace;
    }

    @for $y from 0 to length($positions) {
      $rPosition: unquote(nth($positions, $y + 1));
      $rPositionNames: unquote(nth($positionsNames, $y + 1));

      .#{$rName}#{$rPositionNames}-#{$rSize} {
        #{$rule}-#{$rPosition}: $eSpace;
      }
    }
  }
}
