@import 'variables';

.fs-header {
  font-size: $fs-sub-title;
}

.item-title {
  font-size: $fs-sub-section;
}

.item-counter {
  font-size: $fs-sub-section;
  font-weight: $fw-semibold;
}

.header-text {
  font-size: $fs-sub-section;
  font-weight: $fw-semibold;
}


.section-top {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: $SI-white;
}
