@import './_spacing';
@import './_typography';
@import './_alignment';
@import './_colors';


mat-spinner.center {
  margin: 20px auto;
}

.pointer {
  cursor: pointer;
}

.mat-fab {
  &.sm {
    width: 42px;
    height: 42px;

    .mat-button-wrapper {
      padding: 12px 0;
    }
  }
}

button[mat-icon-button] .mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal-header {
  position: relative;
  font-size: $fs-sub-title;
  margin-bottom: $space-lg;

  .close {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: $fs-main;
    cursor: pointer;
  }
}


.no-results {
  padding: $space-xl;
  color: $SI-gray-light;
  text-align: center;
}
