  <section *ngIf="goBackRoute">
    <button mat-button [routerLink]="[goBackRoute]">
      <section>
        <split-it-icon type="chevron-left" ></split-it-icon>
        <span>Wróć</span>
      </section>
    </button>
  </section>
