@import 'variables';

:host {
    display: flex;
    flex-shrink: 0;
    background-color: $SI-gray-darker;
    color: $SI-white;

    a {
      color: $SI-white;
      text-decoration: none;
    }
    footer {
      padding: $space-lg 0;
    }
}
