@import 'variables';

:host {
  display: flex;
  background: $SI-white;
  header {
    padding: 12px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
