
<section class="container not-found">
  <section class="number">
    404
  </section>
  <section class="text">
    <header>Oops!</header>
    <article class="mt-md">
      Coś poszło nie tak, strona której szukasz nie istnieje :(
    </article>
    <div class="mt-lg">
      <button [routerLink]="'/'" mat-raised-button color="accent">Wróc do strony startowej</button>
    </div>
  </section>
</section>
