
@import 'variables';

.not-found {
  color: $SI-gray-darker;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .number {
    font-size: 15em;
    font-weight: $fw-bold;
  }

  .text {
    padding: $space-lg $space-xl;
    > header {
      font-weight: $fw-bold;
      font-size: 5em;
    }

    > article {
      font-size: $fs-sub-section;
    }

  }
}

@media (max-width: 769px) {
  .not-found {
    .number {
      font-size: 6em;
    }
    .text > header {
      font-size: 3em;
    }
  }
}
