/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

// $my-app-primary: mat-palette($mat-blue, 900);
// $my-app-accent: mat-palette($mat-red, 500, 900, A100);
// $my-app-warn: mat-palette($mat-deep-orange);

// $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);


$mat-myapp-primary: (
    50 :  lighten($SI-main-dark, 30%),
    100 : lighten($SI-main-dark, 25%),
    200 : lighten($SI-main-dark, 20%),
    300 : lighten($SI-main-dark, 15%),
    400 : lighten($SI-main-dark, 10%),
    500 : lighten($SI-main-dark, 5%),
    600 : $SI-main-dark,
    700 : darken($SI-main-dark, 5%),
    800 : darken($SI-main-dark, 10%),
    900 : darken($SI-main-dark, 15%),
    A100 : #ffffff,
    A200 : lighten($SI-main-dark, 25%),
    A400 : lighten($SI-main-dark, 10%),
    A700 : lighten($SI-main-dark, 5%),
    contrast: (
        50 : #ffffff,
        100 : #ffffff,
        200 : #ffffff,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$mat-myapp-accent: (
    50 : #fffaed,
    100 : #fff4d1,
    200 : #ffecb3,
    300 : #ffe494,
    400 : #ffdf7d,
    500 : #ffd966,
    600 : #ffd55e,
    700 : #ffcf53,
    800 : #ffca49,
    900 : #ffc038,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fff5e1,
    A700 : #ffedc8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);
// @include angular-material-theme($my-app-theme);








// .mat-form-field-infix {
//   background: $SI-white;
// }
// .mat-raised-button.mat-primary {
//   background: linear-gradient(to bottom, #1e5799 0%, #2989d8 23%, #207cca 51%, #7db9e8 100%);
// }
// .mat-form-field-label-wrapper {
//   background: white;
// }
