<split-it-header></split-it-header>
<split-it-information-bar></split-it-information-bar>
<split-it-go-back></split-it-go-back>
<section class="main">
  <router-outlet></router-outlet>
</section>
<split-it-footer></split-it-footer>
