

<mat-spinner *ngIf="isLoading" class="center"></mat-spinner>

<ng-template [ngIf]="!isLoading">

  <section class="no-results" *ngIf="groups && groups.length === 0 ">
    Nie znajdujesz się obecnie w Grupie.
  </section>

  <div *ngFor="let group of groups">
    <ng-template #main>
      <span class="item-title">
        {{ group?.name }}
      </span>
      <div class="fc-gray">
        <!-- TODO: PASS BETTER TYPE -->
        {{ group?.type === GroupType.Food ? 'Jedzenie' : 'Finanse'}}
      </div>
    </ng-template>
    <ng-template #right>
      <span class="item-counter">
        {{ group?.members.length }}
      </span>
      <span>Członków</span>
    </ng-template>

    <split-it-list-item
        [routerLink]="['/group', group._id, 'balance']"
        class="ma-lg pointer"
        [main]="main"
        [right]="right">
    </split-it-list-item>
  </div>
</ng-template>



