

<section class="item box-shadow-1">

  <split-it-icon [type]="icon" [size]="'lg'"></split-it-icon>
  <section class="text">
      <header class="pb-sm"><ng-content></ng-content></header>
  </section>

</section>
