@import 'variables';
:host {
  &:focus {
    outline: none;
  }
}

.item {
  display: flex;
  padding: $space-md;
  border-radius: $space-lg;
  background: $SI-bg;
  box-shadow: $SI-box-shadow;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  max-width: 100%;
  min-width: 120px;
  transition: color .5s ease-in, background .5s ease-in-out;

  &:hover {
    transition: color .5s ease-out, background .5s ease-in-out;
    background-color: $SI-main-dark;
    color: $SI-white;
    split-it-icon {
      transition: all .5s ease-out;
      filter: $SI-icon-hover;
    }
  }
}

split-it-icon {
  margin: $space-lg 0;
  transition: all .5s ease-out;
}

.text {
  width: 100%;
  text-align: center;
  > header {
    font-size: $fs-main;
  }
}

