<header class="px-xl my-xl header-text">
  Dodaj wydatek
</header>


<form *ngIf="expenseForm" [formGroup]="expenseForm" (submit)="saveExpense()">
  <section class="mx-lg">
    <mat-form-field class="mx-lg" [formGroup]="expenseForm" (submit)="saveExpense()">
      <input matInput placeholder="Opis" formControlName="description" minlength="3" required id="description" >
    </mat-form-field >

    <mat-form-field class="mx-lg">
      <mat-label>Kupujący</mat-label>
      <mat-select formControlName="buyerIndex" matNativeControl required>
        <mat-option *ngFor="let member of members;let i = index" [value]="i">
          {{ member }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field  class="mx-lg" [formGroup]="expenseForm" (submit)="saveExpense()">
      <input matInput placeholder="Cena" formControlName="value" id="value" min="0" required type="number" >
    </mat-form-field >

    <mat-form-field class="mx-lg">
      <mat-label>Wybierz Walute</mat-label>
      <mat-select formControlName="type" matNativeControl required>
        <mat-option *ngFor="let currency of currencies" [value]="currency">
          {{ currency }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <section class="mt-lg mx-lg">
      <mat-label>Kto brał udział: </mat-label>
      <section class="mt-lg">
        <mat-radio-group [(ngModel)]="membersSelectionType"  [ngModelOptions]="{standalone: true}" aria-label="Select an option">
          <mat-radio-button class="mr-lg mb-lg" [value]="'all'">Wszyscy</mat-radio-button>
          <mat-radio-button class="mr-lg mb-lg" [value]="'single'">Wybierz osoby</mat-radio-button>
        </mat-radio-group>
      </section>
    </section>

    <mat-form-field class="mt-lg mx-lg" *ngIf="membersSelectionType === 'single'">
      <mat-label>Wybierz osoby</mat-label>
      <mat-select [(value)]="selectedMembers" matNativeControl multiple required>
        <mat-option *ngFor="let member of members;let i = index" [value]="i">
          {{ member }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <section class="mt-lg mx-lg">
      <mat-label>Wybierz typ podziału</mat-label>
      <section  *ngIf="expenseForm?.value?.value <= 0"> Aby moc ustalic typo podziału musisz wpisac wartosc</section>
      <section class="mt-lg">
        <mat-radio-group [disabled]="expenseForm?.value?.value <= 0"  [(ngModel)]="expenseType" [ngModelOptions]="{standalone: true}" aria-label="Select an option">
          <mat-radio-button class="mr-lg mb-lg" [value]="'equal'">Równy</mat-radio-button>
          <mat-radio-button class="mr-lg mb-lg" [value]="'differential'">Zróżnicowany</mat-radio-button>
        </mat-radio-group>
      </section>
    </section>

  </section>

  <section *ngIf="expenseType === 'differential'" class="mx-lg">
    <h4 [ngClass]="differentialPrice !== expenseForm?.value?.value  ? 'error' : 'success'">Kwota do rozliczenia: {{ expenseForm?.value?.value - differentialPrice }}</h4>
  </section>

  <section *ngIf="expenseType === 'differential'">
    <section *ngIf="membersSelectionType === 'all'">
      <mat-form-field  class="mx-lg" *ngFor="let member of members; let i = index">
        <input  matInput [placeholder]="members[i]" [(ngModel)]="differentialValues[i]" (ngModelChange)="onDifferentialChange()" [ngModelOptions]="{standalone: true}" min="0" required type="number" >
      </mat-form-field >
    </section>
    <section *ngIf="membersSelectionType === 'single'">
      <mat-form-field  class="mx-lg" *ngFor="let member of selectedMembers; let i = index">
        <input  matInput [placeholder]="members[member]" [(ngModel)]="differentialValues[member]" (ngModelChange)="onDifferentialChange()" [ngModelOptions]="{standalone: true}" min="0" required type="number" >
      </mat-form-field >
    </section>
  </section>

  <footer class="right">
    <button mat-raised-button color="primary" type="submit" [disabled]="!expenseForm.valid">Dodaj Wydatek</button>
    <section class="mr-lg">
      <button mat-button>Reset</button>
    </section>
  </footer>

</form>
