<div class="block">
  <header class="item-title">{{ strings?.balance }}</header>
</div>

<div class="balance-container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let member of members; let i = index">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <p>{{ member }}</p>
        </mat-panel-title>
        <mat-panel-description>
          <p [class.plus]="payoffSums[i] >= 0"
             [class.minus]="payoffSums[i] < 0"     
          >{{ payoffSums[i] }}</p> 
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Details here</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
