@import 'variables';

.action-buttons {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-items: center;
  > section {
    width: 100%;
    text-align: center;
    button {
      max-width: 200px;
      width: 100%;
    }
  }
}

section {
  div {
    padding: $space-lg;
    width: 100%;
  }
}
