<section *ngIf="group" class="action-buttons">
  <div>
    <balance-view [members]="group?.members" [payoffs]="group?.state?.payoffs"></balance-view>
  </div>

  <section class="mt-xl mb-lg">
    <button [routerLink]="['../../../finance-expense', group?._id]" mat-raised-button color="primary">Dodaj wydatek</button>
  </section>
  <div>
    <members-list [members]="group?.members"></members-list>

    <div class="center-content">
        <add-member [members]="group?.members" (added)="onMemberAdded()"></add-member>
    </div>
  </div>
</section>

<!--
<div *ngFor="let group of groups">
  <ng-template #main>
    <span class="item-title">
      {{ group?.name }}
    </span>
    <div class="fc-gray">
      {{ group?.type ? 'Jedzenie' : 'Finanse'}}
    </div>
  </ng-template>
  <ng-template #right>
    <span class="item-counter">
      {{ group?.members.length }}
    </span>
    <span>Członków</span>
  </ng-template>

  <split-it-list-item
      [routerLink]="['/group', group.name]"
      class="ma-lg pointer"
      [main]="main"
      [right]="right">
  </split-it-list-item>
</div> -->
