<svg width="100" height="42" viewBox="0 0 100 42" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#filter0_d)">
  <path d="M40.642 27.351C39.598 27.351 38.599 27.234 37.645 27C36.709 26.766 35.899 26.451 35.215 26.055L35.539 22.437C36.349 22.941 37.195 23.337 38.077 23.625C38.977 23.895 39.805 24.03 40.561 24.03C41.425 24.03 42.127 23.85 42.667 23.49C43.207 23.13 43.477 22.653 43.477 22.059C43.477 21.573 43.297 21.204 42.937 20.952C42.577 20.682 42.01 20.394 41.236 20.088L40.588 19.818C40.498 19.782 40.399 19.746 40.291 19.71C40.183 19.656 40.057 19.602 39.913 19.548C38.905 19.134 38.095 18.747 37.483 18.387C36.871 18.009 36.34 17.487 35.89 16.821C35.458 16.155 35.242 15.291 35.242 14.229C35.242 12.501 35.827 11.142 36.997 10.152C38.167 9.162 39.796 8.667 41.884 8.667C43.468 8.667 45.088 8.991 46.744 9.639L46.15 13.203C45.484 12.825 44.764 12.528 43.99 12.312C43.234 12.096 42.514 11.988 41.83 11.988C40.984 11.988 40.327 12.159 39.859 12.501C39.391 12.825 39.157 13.266 39.157 13.824C39.157 14.31 39.319 14.688 39.643 14.958C39.967 15.228 40.489 15.516 41.209 15.822L42.316 16.254C43.36 16.65 44.224 17.037 44.908 17.415C45.592 17.793 46.177 18.342 46.663 19.062C47.149 19.764 47.392 20.682 47.392 21.816C47.392 23.562 46.798 24.921 45.61 25.893C44.422 26.865 42.766 27.351 40.642 27.351ZM50.3624 13.095H54.0614L53.9804 14.904H54.0884C54.5564 14.184 55.1234 13.635 55.7894 13.257C56.4734 12.879 57.2474 12.69 58.1114 12.69C59.6774 12.69 60.9014 13.293 61.7834 14.499C62.6834 15.687 63.1334 17.352 63.1334 19.494C63.1334 22.032 62.4674 23.985 61.1354 25.353C59.8214 26.703 57.9404 27.378 55.4924 27.378C55.1864 27.378 54.7274 27.36 54.1154 27.324V32.886H50.3624V13.095ZM55.8704 24.057C57.0044 24.057 57.8594 23.688 58.4354 22.95C59.0294 22.212 59.3264 21.132 59.3264 19.71C59.3264 18.558 59.1374 17.658 58.7594 17.01C58.3994 16.344 57.8954 16.011 57.2474 16.011C56.6714 16.011 56.1134 16.263 55.5734 16.767C55.0334 17.253 54.5474 17.955 54.1154 18.873V23.814C54.7274 23.976 55.3124 24.057 55.8704 24.057ZM64.7971 23.733H67.2541V10.53H64.9321V7.29H71.0611V23.733H73.5181V27H64.7971V23.733Z" fill="#323A49"/>
  <path d="M77.6377 7.29H81.9847V10.8H77.6377V7.29ZM75.5317 23.733H78.1237V16.362H75.5317V13.095H81.9307V23.733H84.2527V27H75.5317V23.733ZM91.483 27.405C90.187 27.405 89.179 27.081 88.459 26.433C87.757 25.767 87.406 24.831 87.406 23.625V16.362H85.246V13.095H87.406V10.125C88.684 9.909 89.944 9.747 91.186 9.639V13.095H94.696V16.362H91.186V22.923C91.186 23.301 91.294 23.589 91.51 23.787C91.744 23.985 92.068 24.084 92.482 24.084C92.986 24.084 93.562 23.967 94.21 23.733L95.047 26.595C93.895 27.135 92.707 27.405 91.483 27.405Z" fill="#FFCE7F"/>
  </g>
  <g filter="url(#filter1_d)">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M4.29338 12.0359L10.6679 4.35364C11.0591 3.88222 11.6933 3.88222 12.0845 4.35364L18.4591 12.0359C18.8502 12.5073 18.8502 13.2716 18.4591 13.7431C18.0679 14.2145 17.4337 14.2145 17.0425 13.7431L12.3779 8.12154L12.3779 19.5862C12.3779 21.9396 13.7973 23.9439 15.7258 24.3138C18.6269 24.8702 20.7622 27.8854 20.7622 31.4257V34H18.7589V31.4257C18.7589 29.0723 17.3395 27.068 15.4109 26.6981C12.5098 26.1417 10.3746 23.1265 10.3746 19.5862L10.3746 8.12154L5.70995 13.7431C5.31877 14.2145 4.68455 14.2145 4.29338 13.7431C3.90221 13.2716 3.90221 12.5073 4.29338 12.0359Z" fill="#323A49"/>
  </g>
  <g filter="url(#filter2_d)">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M19.5409 12.0357L25.9155 4.35349C26.3067 3.88206 26.9409 3.88206 27.332 4.35349L33.7066 12.0357C34.0978 12.5072 34.0978 13.2715 33.7066 13.7429C33.3154 14.2143 32.6812 14.2143 32.29 13.7429L27.6254 8.12139L27.6254 17.2102C27.6254 21.9692 24.8815 26.0891 21.0262 27.1188L19.9772 27.399L19.5438 25.0419L20.5927 24.7617C23.5309 23.977 25.6221 20.8371 25.6221 17.2102L25.6221 8.12139L20.9575 13.7429C20.5663 14.2143 19.9321 14.2143 19.5409 13.7429C19.1497 13.2715 19.1497 12.5072 19.5409 12.0357Z" fill="#FFCE7F"/>
  </g>
  <defs>
  <filter id="filter0_d" x="31.215" y="5.29001" width="67.832" height="33.596" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
  <feOffset dy="2"/>
  <feGaussianBlur stdDeviation="2"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
  </filter>
  <filter id="filter1_d" x="0" y="4.00006" width="24.7622" height="37.9999" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
  <feOffset dy="4"/>
  <feGaussianBlur stdDeviation="2"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
  </filter>
  <filter id="filter2_d" x="15.2475" y="3.99991" width="22.7524" height="31.3991" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
  <feOffset dy="4"/>
  <feGaussianBlur stdDeviation="2"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
  </filter>
  </defs>
  </svg>
