@import 'variables';


.categories {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-bottom: $space-lg;
}

.categories-navigation {
  width: 100%;
}

