<section class="section-top pt-lg">

    <header class="mb-lg header-text">Wybierz kategorię grupy</header>

    <section class="categories">
      <split-it-box-item [routerLink]="'/create-group/food'" icon="restaurant" class="ma-lg">Jedzenie</split-it-box-item>
      <split-it-box-item [routerLink]="'/create-group/finance'" icon="finance" class="ma-lg">Finanse</split-it-box-item>
    </section>

      <nav class="categories-navigation" mat-tab-nav-bar >
        <a
          mat-tab-link
          (click)="activeLink = 'groups'"
          [active]="activeLink == 'groups'"
          [routerLink]="'/home/groups'"> Grupy</a>
        <a
          mat-tab-link
          (click)="activeLink = 'balance'"
          [active]="activeLink == 'balance'"
          [routerLink]="'/home/balance'"> Rozliczenia</a>
      </nav>
</section>
<section class="bottom">
  <router-outlet></router-outlet>
</section>
