

$SI-main-dark: #323A49;
$SI-blue: #43B3EB;
$SI-yellow: #FFCE7F;
$SI-white: #fff;

$SI-font-color: #373737;
$SI-font-color-inverse: #f4f4f4;

/* Shades of gray */
$SI-gray-lighter: #e4e5e6;
$SI-gray-light: #c1c5ca;
$SI-gray: #939598;
$SI-gray-dark: #58595b;
$SI-gray-darker: #32363b;

$SI-bg: #F5F5F5;

$SI-transparent-dark: rgba(0, 0, 0, 0.7);
$SI-transparent-dark-light: rgba(32, 33, 36, 0.25);


$SI-box-shadow: 0 2px 8px $SI-transparent-dark-light;

$SI-icon-hover: invert(0.66) sepia(1) saturate(7.2) hue-rotate(0deg) brightness(1);


/* Status Colors*/
$success: #59D58C;
$error: #C13333;
$warning: #EBCA8A;
