@import 'variables';

.icon {
  height: 80px;
  transform-origin: 0 0;

  &.xs {
    transform: scale(.2);

  }
  &.sm {
    transform: scale(.25);
  }
  &.md {
    transform: scale(.3);
  }
  &.lg {
    transform: scale(.6);
  }
  &.xl {

  }
}
.icon-container {
  position: relative;
  overflow: hidden;
  &.sm {
    width: 20px;
    height: 20px;
  }
  &.md {
    width: 24px;
    height: 24px;
  }
  &.lg {
    height: 48px;
    width: 48px;
  }
  &.xl {
    height: 80px;
    width: 80px;
  }


}

.icon-container:not(.no-filter) path {
  fill: $SI-main-dark;
  stroke: $SI-main-dark;
}
