@import 'variables';

:host{
  display: flex;
}

.box{
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: $SI-box-shadow;
  background: $SI-white;
  border-radius: 6px;
  align-content: center;
  padding: $space-lg;
  align-items: center;
  > .left {
    width: 100px;
  }
  > .main {
    width: 100%;
  }
  > .right {
    width: 80px;
    text-align: right;
  }
}
