

<article class="box">
  <section *ngIf="left" class="left">
    <ng-container *ngTemplateOutlet="left"></ng-container>
  </section>
  <section *ngIf="main" class="main">
    <ng-container *ngTemplateOutlet="main"></ng-container>
  </section>
  <section *ngIf="right" class="right">
    <ng-container *ngTemplateOutlet="right"></ng-container>
  </section>
</article>
