/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


@import url('https://fonts.googleapis.com/css?family=Sen:400,700,800&display=swap');
/*
    Global Styles
*/
@import 'variables';
@import './styles/override-material';
@import 'classes';

body {
  padding: 0;
  box-sizing: border-box;
  position: relative;
  font-family: 'Sen', sans-serif;
  margin: 0;
  min-height: 100%;
  color: $SI-main-dark;
  line-height: 1;
  border: 0;
  outline: 0;
  background-color: $SI-bg;
}

* {
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: $space-lg;
  padding-left: $space-lg;
}

h1 {
  font-size: $fs-title;
  font-family: 'Secular One', sans-serif;
  // font-weight: $fw-bold;
  color: $SI-main-dark;
}

h2 {
  font-size: $fs-sub-title;
  font-family: 'Secular One', sans-serif;
  // font-weight: $fw-bold;
  color: $SI-main-dark;
}

h3 {
  font-size: $fs-section;
  font-family: 'Secular One', sans-serif;
  // font-weight: $fw-bold;
  color: $SI-main-dark;
}


.box-shadow-1 {
  box-shadow: 0 0 4px rgba(0,0,0,.3);
}
.box-shadow-2 {
  box-shadow: 0 0 8px rgba(0,0,0,.3);
}
.box-shadow-3 {
  box-shadow: 0 0 12px rgba(0,0,0,.3);
}
.box-shadow-4 {
  box-shadow: 0 0 16px rgba(0,0,0,.3);
}


.br-r-sm {
  border-radius: 4px;
}
.br-r-md {
  border-radius: 8px;
}
.br-r-lg {
  border-radius: 16px;
}




.categories-navigation .mat-tab-link {
  width: 100%;
}

.center-content {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}