<section class="section-top pb-xl">
  <header class="mb-xl header-text">
    {{ group?.name }}
  </header>
</section>
<section class="tabs">
  <nav *ngIf="group" class="categories-navigation" mat-tab-nav-bar >
    <a
      mat-tab-link
      (click)="activeLink = 'balance'"
      [active]="activeLink == 'balance'"
      [routerLink]="['/group', group._id, 'balance']"> Bilans</a>
    <a
      mat-tab-link
      (click)="activeLink = 'history'"
      [active]="activeLink == 'history'"
      [routerLink]="['/group', group._id, 'history']"> Historia</a>
  </nav>
</section>
<section class="bottom">
  <router-outlet></router-outlet>
</section>
